{% extends 'layout.html' %}
{% block content %}
  <h1>About me</h1>
  <div class="content-section">
  <p> 
    I am Carlos Huerta recent graduate from the Masters in Science program in Statistics and Big data 
    from  University of Groningen (Netherlands) where I studied courses in Pattern Recognition, Machine
    Learning, Contemporary Statistics, Web and Cloud Computing, Scalable Computing, Neural Networks, 
    Statistical Genomics and Information Systems amongst others, avid programmer
    and passionate for data science and A.I. I did my Bachelor in Actuarial Science at the University
    of the Americas Puebla (Mexico) where I studied actuarial and finantial Mathematics as well as
    programming and statistics.
  </p>  
  <div class="row">
    <div class="col-md-6">
      <p>
        Interested in: 
          <ul>
            <li>Web Development</li>
            <li>Deep Learning</li>
            <li>Data Engineering</li>
            <li>Machine Learning</li>
          </ul> 
      </p>
    </div>
    <div class="col-md-6">
      <p>
        Some list of technologies that I have worked with:
        <ul>
          <li>Back-end: Flask, Node</li>
          <li>Front-end: React, Bootstrap</li>
          <li>Deep learning frameworks: Tensorflow, Keras, Pytorch</li>
          <li>Big Data: Spark, Kafka, Airflow</li>
          <li>DevOps: Docker </li>
          <li>Cloud Computing: GCP, AWS</li>
        </ul>
      </p>
    </div>
  </div>
  <p>In case you have some interesting project in mind, feel free to contact me at: 
    <span class="author-linkedin small-bio-icon">
      <a class="link-icon" target="_blank" href="https://www.linkedin.com/in/carlos-rodolfo-huerta-santiago-2b5609100/">
        <i class="fa fa-linkedin"></i> Linkedin
      </a>
    </span>
  </p>
  </div>
  
{% endblock content %}
