{% extends 'layout.html' %}
{% block content %}
  <div class="content-section">
    <div class="row">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/' + post.image_name) }}" 
          class="w3-image" alt="" style="width: 100%; max-width: 300px;">  

      </div>
      <div class="col-md-8">
        <h2>
          {{ post.title }}
        </h2>
        <p>{{ post.summary }}</p>

        <hr class="my-4">
              
        <p>Tags: {{ post.tags }}</p>
        <p>By {{ post.author }} on {{ post.date }}</p>
      </div>
    </div>
    

    <hr class="my-4">
    
    <div>{{ post.html | safe}}</div>
   
    <br>
    <!-- Needed for disqus-->
    <div id="disqus_thread"></div>
   
  </div>
{% endblock content %}

{% block disqus %}

<script>
  var disqus_config = function () {
  this.page.url = 'https://charx7.me/portfolio/{{ post['portfolio_id'] }}/';  // Your page's canonical URL variable
  this.page.identifier = '{{ 'p_id_' + post['portfolio_id'] }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://carlos-huerta-blog.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                          
{% endblock disqus %}
