{% extends 'layout.html' %}
{% block content %}

<h1 style="text-align: center;">Portfolio Projects</h1>
<div class="container-md">
{% for row in posts_list %}
  <div class="row">
    {% for post in row %}
    <div class="col-md-6">
      <div class="card mb-3 shadow-sm p-3 mb-5 bg-white rounded" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ url_for('static', filename='images/' + post['image_name']) }}" 
              class="card-img"
              alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
              <a class="article-title" 
                 href="{{ url_for('post', post_id = post.post_id)  }}">{{ post['title'] }}</a></h5>
              <p class="card-text">{{ post['summary'] }}.</p>
              
              <hr class="my-4">
              <p class="card-text"><small class="text-muted">Last updated {{ post['date'] }}</small></p>
            </div>
          </div>
        </div>
      </div>  
    </div>
    {% endfor %}
  </div>
{% endfor %}
</div>

{% endblock content %}
